Source: yocto
Section: sound
Priority: optional
Maintainer: nandhp <nandhp@gmail.com>
Build-Depends: debhelper (>= 7)

Package: yocto
Section: sound 
Priority: optional
Architecture: all
Essential: no
Depends: ${perl:Depends}, libgtk2-perl, libgtk2-trayicon-perl,
 libconfig-inifiles-perl
Suggests: mpd
Enhances: mpd
Provides: mpd-client
Description: An MPD Client for the system notification area
 A compact MPD client that appears as an icon in the system
 notification area. Clicking on the icon toggles playback, and
 hovering over the icon produces a popup window with track information
 and control buttons.
